<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- https://github.com/joshbuchea/HEAD -->

    <!-- Recommended -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Meta -->
    <meta name="description" content="{{ metadata.description }}" />
    <meta name="generator" content="Eleventy" />

    <!-- Icons -->
    <!-- https://favicon.io/ -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ 'https://www.jambedo.com/apple-touch-icon.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ 'https://www.jambedo.com/favicon-32x32.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ 'https://www.jambedo.com/favicon-16x16.png' | url }}"
    />
    <link rel="manifest" href="{{ 'https://www.jambedo.com/site.webmanifest' | url }}" />

    <title>{{ title or metadata.title }}</title>

    <link rel="stylesheet" href="{{ 'https://www.jambedo.com/site.css' | url }}" />
  </head>

  <body class="font-sans leading-normal tracking-normal text-gray-900">
    {{ content | safe }}
  </body>
</html>
